/* Reset css */
*{
    margin:0;
    padding:0;
}
/* General */
body{
    font-family: 'Cormorant Garamond', serif 
}
.genSize{
    max-width:80rem;
    margin:auto;
}
a{
    color: black;
    text-decoration: none;
}
li{
    display:inline;
}
.gras{
    font-weight: 700;
}
.gras2{
    font-weight: 700;
    margin-top:1rem;
    margin-bottom:1rem;  
}
span{
    padding-left: 1rem;
}
.img{
    max-width:100%;
    float:left;
}
hr{
    margin:1rem 0;
}
/* Header */
header{
    padding-top:2rem;
}
h1{
    display:inline;
    font-family: 'Staatliches', cursive;
    font-weight: 300;
    font-size: 2.3rem;
}
header>ul{
    display:inline;
    float:right;
    vertical-align: middle;
    font-size: 1.2rem;   
}
header>ul>li{
    margin: 0 1.3rem;
}
.red{
    color:rgb(204, 4, 4)
}
.btnr{
    color:white;
    background-color: rgb(204, 4, 4);
    padding:0.6rem;
    border-radius: 0.5rem;
}
/* nav */
nav>ul{
    display:flex;
    justify-content: space-between;
    font-size: 1.3rem;   
    margin:2rem 0;
}
/* section 1 */
.container{
    display: flex;
    justify-content: space-between;
}
.size{
    max-width: 33%;
}
.pos{
    display:inline;
    vertical-align: top;
}
h4{
    font-size:1.4rem;
    margin-top:1rem;
    margin-bottom:1rem;
}
.p{
    font-size:1.25rem;
    display: inline-block;
}
.esp{
    margin-bottom:1rem;
}
/* section 2 */
.section2{
    background-color:lightgray;
    margin-bottom:2rem;
}
.section2 div{
    
    margin-left:25rem;
}
.section2 p{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
h2{
    font-size: 3rem;
}
form{
    margin-top:1rem;
}
.btni{
    color:white;
    padding:0.7rem;
    background-color: #222;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    border:none;
    margin-left:0.5rem;
}
.email{
    background-color: lightgray;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right:none;
    font-size:1.1rem;
    height: 2.5rem;
    border-width: 1px;
}
/* section 3 */
.container2{
    display: flex;
}
h3{
    font-size: 1.9rem;
}
.posImg{
    display:inline;
    max-width:10%;
    float: right;
    margin-left: 0.5rem;
}
.size2{
    width: 70%;
}
.size3{
    width: 20%;
    margin-left:3rem;
}
.size2 div{
    font-size: 1.25rem;
}
.size2 p{
    margin: 0.5rem 0;
}
.test{
    font-size: 1rem;
}
.num{
    display: flex;
    font-size: 2.3rem;
    float:left;
    margin-right:1rem;
    margin-top:1.5rem;
}
.fsize{
    font-size: 1.3rem;
    font-weight: 700;
}
.mar{
    margin-left:3rem;
    margin-bottom:0.4rem;
    margin-top:0.4rem;
}
.mar2{
    margin-bottom:1.3rem;
}
.martop{
    margin-top:1rem;
}